[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "otel-worker"]
	path = otel-worker
	url = https://github.com/kojikeneda/otel-worker.git
